.schedule-form{
    margin-top: 20px;
}

.form-header{
    padding-bottom: 18px;
    padding-top: 15px;
    color: white;
}

.submit-btn{
    margin-top: 20px;
    margin-left: 40px;
}

body {
    background-image: url(../assets/nature-forest-trees-fog-4827.jpg);
    background-color: #cccccc;
  }