.salt {
  margin-top: 40px;
}

body {
  background-image: url(../assets/nature-forest-trees-fog-4827.jpg);
  background-color: #cccccc;
}

#register-form{
  padding-bottom: 10px;
}

.form-header{
  padding-bottom: 18px;
  padding-top: 15px;
  color: white;
}

.logo{
  margin-top: 30px;
  width: 35%;
}